nav a{
    padding: 10px;
    text-decoration: none;
}

img{
    width:  150px;
    height: 150px;
    align-items: center;
}

body{
    margin: auto;
    width:100%;
    padding: 50px;
    text-align: center;
}

.dogName, .userName, .link{
    text-decoration: none;
}

.capitalize{
    text-transform: capitalize;
}

.mainPic{
    width:  500px;
    height: 500px;
    align-items: center;
}