{% extends 'base.html' %}

{% block title %}
    Dog List
{% endblock %}

{% block body %}
    <form>
        <div>
            <input type="text" name="name" placeholder="Name of dog"/>
            <input type="submit" value="Search"/>
        </div>
    </form>
    <h1>{{header}}</h1>
    {% for dog in dogs %}
        <img src="{{dog.img}}" alt="{{dog.name}}">
        <a class='dogName' href="{% url 'dog_detail' dog.pk %}">
            <h3>Name: {{dog.name}}</h3>
        </a>
        <h3>Age: {{dog.age}}</h3>
        <h3>Gender: {{dog.gender}}</h3>
        <p>Adopted By: 
            <a class='userName' href='/user/{{dog.user.username}}'>{{dog.user.username}}</a>
        </p>
    {% endfor %}
{% endblock %}