{% extends 'base.html' %}
{% block body %}

<h1>Dog Toy Details</h1>

<div>
    <div>
        <span class='capitalize'>{{ dogtoy.name }}</span>
        <p>Color: {{ dogtoy.color }}</p>
        {% for dog in dogtoy.dog_set.all %}
        <p>Owned by: {{dog.name}}</p>
        {% empty %}
            <p>Nobody plays with this toy</p>
        {% endfor %}
    </div>
    <div>
        <a class ='link' href="{% url 'dogtoys_update' dogtoy.id %}">Edit</a>
        <a class ='link' href="{% url 'dogtoys_delete' dogtoy.id %}">Delete</a>
    </div>
</div>
{% endblock %}